<h1>The Employees Component</h1>

<div class="container">
  <table class="table table-striped table-bordered">
     <thead class="table-dark">
        <tr>
          <th *ngFor="let column of columns">
             {{column}}
          </th>
        </tr>
     </thead>
     <tbody>
        <tr *ngFor="let emp of employees$|async">
          <td>
            {{emp.EmpNo}}
          </td>
          <td>
            {{emp.EmpName}}
          </td>
          <td>
            {{emp.DeptNo}}
          </td>
        </tr>
     </tbody>
  </table>
</div>

